- name: Check flatpak installed
  shell: command -v flatpak
  ignore_errors: true
  register: flatpak_exists

- name: Install flatpak
  become: true
  when: ansible_facts['distribution'] == "Archlinux" and flatpak_exists.rc != 0
  pacman:
    name: flatpak

- name: Add flathub flatpak repo
  when: flatpak_exists.rc == 0
  become_user: "{{ lookup('vars', 'username') }}"
  flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
    method: user

- name: Install flatpak packages
  when: flatpak_exists.rc == 0
  become_user: "{{ lookup('vars', 'username') }}"
  community.general.flatpak:
    name: "{{item}}"
    state: present
    method: user
  with_items:
    - com.bitwig.BitwigStudio
    - com.spotify.Client
    - io.dbeaver.DBeaverCommunity
    - io.github.Figma_Linux.figma_linux
    - org.filezillaproject.Filezilla
    - org.signal.Signal
    - re.sonny.Junction
    - md.obsidian.Obsidian
    - com.obsproject.Studio
    - us.zoom.Zoom
    - com.slack.Slack
    - com.getpostman.Postman
    - com.todoist.Todoist
    - com.discordapp.Discord
