- name: Install Homebrew casks (main)
  community.general.homebrew_cask:
    name: "{{ item }}"
    state: present
    update_homebrew: true
    accept_external_apps: true
    sudo_password: "{{ lookup('pipe', playbook_dir + '/scripts/op-askpass.sh') }}"
  tags:
    - brew_main
  loop:
    - 1password
    - alfred
    - arc
    - balenaetcher
    - bartender
    - caffeine
    - choosy
    - cleanshot
    - dbeaver-community
    - docker-desktop
    - dropbox
    - espanso
    - figma
    - firefox
    - freedom
    - ghostty
    - google-chrome
    - hazel
    - insomnia
    - istat-menus
    - karabiner-elements
    - keyboard-maestro
    - lunar
    - obsidian
    - omnifocus
    - orion
    - pgadmin4
    - postman
    - the-unarchiver
    - visual-studio-code
    - zoom
    - zsa-wally
