- name: Install Homebrew casks (home)
  community.general.homebrew_cask:
    name: "{{ item }}"
    state: present
    update_homebrew: true
    accept_external_apps: true
    sudo_password: "{{ ansible_become_password | default(omit) }}"
  tags:
    - brew_home
  loop:
    - aegisub
    - calibre
    - carbon-copy-cloner
    - chronosync
    - discord
    - fuse
    - handbrake
    - libreoffice
    - macfuse
    - tor-browser
    - vlc
