- name: Install Homebrew casks (music)
  community.general.homebrew_cask:
    name: "{{ item }}"
    state: present
    update_homebrew: true
    accept_external_apps: true
  tags:
    - brew_music
  loop:
    - audio-hijack
    - cycling74-max
    - fission
    - ilok-license-manager
    - obs
    - soundtoys
    - supercollider
    - vcv-rack
