- name: Install Homebrew formulae
  community.general.homebrew:
    name: "{{ item }}"
    state: present
    update_homebrew: true
  tags:
    - brew_main
  loop:
    - ack
    - awscli
    - btop
    - cmatrix
    - fd
    - ffmpeg
    - fzf
    - git
    - imagemagick
    - jq
    - lf
    - luajit
    - mas
    - mpv
    - mkvtoolnix
    - neovim
    - ranger
    - resvg
    - ripgrep
    - sevenzip
    - trash-cli
    - tree
    - unar
    - watch
    - wget
    - xclip
    - yarn
    - yazi
    - yt-dlp
    - zoxide
