- name: Check homebrew installed
  when:
    - ansible_facts['distribution'] == "MacOSX"
  shell: command -v brew
  ignore_errors: true
  register: brew_exists
  tags:
    - brew_main
    - brew_music
    - brew_home

- name: Upgrade all homebrew
  when:
    - ansible_facts['distribution'] == "MacOSX"
    - brew_exists.rc == 0
  community.general.homebrew:
    path: "{{ lookup('vars', 'brew_path') }}"
    update_homebrew: true
    upgrade_all: true
  tags:
    - brew_music
    - brew_home
    - brew_main

- name: Install Homebrew formulae
  include_tasks: homebrew_formulae.yml
  when:
    - ansible_facts['distribution'] == "MacOSX"
    - brew_exists.rc == 0
  tags:
    - brew_main

- name: Install Homebrew casks (main)
  include_tasks: homebrew_casks_main.yml
  when:
    - ansible_facts['distribution'] == "MacOSX"
    - brew_exists.rc == 0
  tags:
    - brew_main

- name: Install Homebrew casks (music)
  include_tasks: homebrew_casks_music.yml
  when:
    - ansible_facts['distribution'] == "MacOSX"
    - brew_exists.rc == 0
  tags:
    - brew_music

- name: Install Homebrew casks (home)
  include_tasks: homebrew_casks_home.yml
  when:
    - ansible_facts['distribution'] == "MacOSX"
    - brew_exists.rc == 0
  tags:
    - brew_home
