[Desktop Entry]
Type=Application
Exec=/usr/bin/1password --silent
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_AU]=1password
Name=1password
Comment[en_AU]=password manager
Comment=password manager
