[Desktop Entry]
Type=Application
Exec=/usr/bin/sxhkd
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_AU]=sxhkd
Name=sxhkd
Comment[en_AU]=Simple X hotkey daemon
Comment=Simple X hotkey daemon
