- name: Install realtime-privileges package
  become: true
  pacman:
    name: realtime-privileges

- name: Ensure group "realtime" exists
  become: true
  group:
    name: realtime
    state: present

- name: Add my user to audio and realtime groups
  become: true
  user:
    name: "{{ lookup('vars', 'username') }}"
    groups: audio, realtime
    append: yes

- name: Reduce swappiness
  become: true
  lineinfile:
    path: /etc/sysctl.d/99-swappiness.conf
    line: "vm.swappiness=10"
    create: true

- name: Check if yay is installed
  shell: command -v yay
  register: yay_exists
  ignore_errors: true

- name: Check if tuned is installed
  shell: command -v tuned
  register: tuned_exists
  ignore_errors: true

- name: Install tuned
  when:
    - yay_exists.rc == 0
    - tuned_exists.rc != 0
  shell: yay -S --noconfirm tuned

- name: Check if tuned is installed (again, after install)
  shell: command -v tuned
  register: tuned_exists
  ignore_errors: true

- name: Start tuned service
  become: true
  when: tuned_exists.rc == 0
  ansible.builtin.systemd:
    name: tuned
    state: started
    enabled: true
