- name: Install desired version of Node using N
  when: ansible_facts['distribution'] == 'MacOSX'
  become_user: "{{ lookup('vars', 'username') }}"
  command: "{{ lookup('vars', 'brew_path') }}/n 24"
  environment:
    PREFIX: "{{ lookup('env', 'HOME') }}/.config/n"
    N_PREFIX: "{{ lookup('env', 'HOME') }}/.config/n"
