- hosts: localhost

  gather_facts: True

  pre_tasks:
    - name: Set brew path on MacOSX
      set_fact:
        brew_path: "/opt/homebrew/bin"
      when: ansible_facts['distribution'] == 'MacOSX'
      tags:
        - always

    - name: Get the username running the deploy
      become: false
      local_action: command whoami
      register: result
      tags:
        - debug
        - always

    - name: Set the username env var
      set_fact:
        username: "{{ result.stdout }}"
      tags:
        - debug
        - always

    - name: Get the primary group name of the user running the deploy
      become: false
      shell: id -g -n $(whoami)
      register: result
      tags:
        - debug
        - always

    - name: Set the primary_group env var
      set_fact:
        primary_group: "{{ result.stdout }}"
      tags:
        - debug
        - always

    - name: Update repositories
      when: ansible_facts['distribution'] == "Archlinux"
      become: true
      pacman:
        update_cache: yes
      tags:
        - pacman
        - aur
        - packages

  roles:
    - role: dotfiles
      tags: [dotfiles, bootstrap]

    - role: node
      tags: [node, npm, bootstrap]

    - role: python
      tags: [python, bootstrap]

    - role: homebrew
      tags: [bootstrap]

    - role: espanso
      tags: [espanso, bootstrap]

    - role: starship
      tags: [starship, shell, bootstrap]

    - role: ssh
      tags: [ssh, bootstrap]

    - role: audio
      tags: [audio]

    - role: aur
      tags: [aur]

    - role: shell
      tags: [shell, bootstrap]

    - role: flatpak
      tags: [flatpak]

    - role: fonts
      tags: [fonts]

    - role: repos
      tags: [repos]

    - role: rust
      tags: [rust]
