- hosts: localhost

  gather_facts: True

  pre_tasks:
    - name: Set brew path on MacOSX silicon
      set_fact:
        brew_path: "/opt/homebrew/bin"
      when: ansible_facts['distribution'] == 'MacOSX' and ansible_facts['architecture'] == 'arm64'
      tags:
        - always

    - name: Set brew path on MacOSX intel
      set_fact:
        brew_path: "/usr/local/bin"
      when: ansible_facts['distribution'] == 'MacOSX' and ansible_facts['architecture'] == 'x86_64'
      tags:
        - always

    - name: Get the username running the deploy
      become: false
      local_action: command whoami
      register: result
      tags:
        - debug
        - always

    - name: Set the username env var
      set_fact:
        username: "{{ result.stdout }}"
      tags:
        - debug
        - always

    - name: Get the primary group name of the user running the deploy
      become: false
      shell: id -g -n $(whoami)
      register: result
      tags:
        - debug
        - always

    - name: Set the primary_group env var
      set_fact:
        primary_group: "{{ result.stdout }}"
      tags:
        - debug
        - always

    - name: Update repositories
      when: ansible_facts['distribution'] == "Archlinux"
      become: true
      pacman:
        update_cache: yes
      tags:
        - pacman
        - aur
        - packages

  roles:
    - role: 1password
      tags: [1password, initial]

    - role: dotfiles
      tags: [dotfiles]

    - role: node
      tags: [node, npm]

    - role: python
      tags: [python]

    - role: homebrew

    - role: espanso
      tags: [espanso]

    - role: starship
      tags: [starship, shell]

    - role: ssh
      tags: [ssh]

    - role: audio
      tags: [audio]

    - role: aur
      tags: [aur]

    - role: shell
      tags: [shell]

    - role: flatpak
      tags: [flatpak]

    - role: fonts
      tags: [fonts]

    - role: repos
      tags: [repos]

    - role: rust
      tags: [rust]
