[Desktop Entry]
Type=Application
Exec=/home/danny/.local/bin/key-remaps
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_AU]=Key remaps
Name=Key remaps
Comment[en_AU]=Remaps esc and caps lock, plus sets key repeat
Comment=Remaps esc and caps lock, plus sets key repeat
