- name: ensure fonts directory
  file:
    path: "{{ lookup('env', 'HOME') }}/.fonts"
    state: directory

- name: Check unzip installed
  shell: command -v unzip
  ignore_errors: true
  register: unzip_exists

- name: Install unzip
  become: true
  when: ansible_facts['distribution'] == "Archlinux" and unzip_exists.rc != 0
  pacman:
    name: unzip

- name: Fira Code exists
  register: firacode_exists
  shell: "ls {{ lookup('env', 'HOME') }}/.fonts/Fira*Code*Nerd*Font*Complete*"
  ignore_errors: true

- name: Download Fira Code font
  when: unzip_exists.rc == 0 and firacode_exists.rc != 0
  ansible.builtin.unarchive:
    src: https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/FiraCode.zip
    dest: "{{ lookup('env', 'HOME') }}/.fonts/"
    remote_src: yes

- name: JetBrainsMono exists
  register: jetbrainsmono_exists
  shell: "ls {{ lookup('env', 'HOME') }}/.fonts/JetBrainsMono*NerdFont*"
  ignore_errors: true

- name: Download JetBrainsMono Font
  when: unzip_exists.rc == 0 and jetbrainsmono_exists.rc != 0
  ansible.builtin.unarchive:
    src: https://github.com/ryanoasis/nerd-fonts/releases/download/v3.0.2/JetBrainsMono.zip
    dest: "{{ lookup('env', 'HOME') }}/.fonts/"
    remote_src: yes
